/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* RESET END */

/* BODY */

body {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;
}

/* HEADER HERO */

.hero-section {
  grid-row: 1/2;
  grid-column:1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr 1fr;
  background: url('/img/houseTwo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  height: auto;
}

.hero-section header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.hero-section ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  color: white;
  margin-top: 12px;
  padding: 0;
  justify-content: center;
}

.hero-content {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-content h1 {
  color: white;
  text-align: center;
}

/* MAIN */

main {
  grid-row: 2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto;
}

/* TIMELINE */

.timeline-item {
  min-height: 100svh;
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr;
}

.timeline-item h2 {
  grid-row: 1;
  grid-column: 1/2;
  justify-self: center;
  text-align: center;
  padding-top: 10px;
}

.timeline-item h3 {
  grid-row: 1;
  grid-column: 2/3;
  justify-self: center;
  padding-top: 10px;
  opacity: 0;
  transition: opacity .5s ease-in;
}

@keyframes goUp {
  from {
    transform: translateY(60px);
  }

  to {
    transform: translateY(0);
  }
}

.timeline-item p {
  grid-row: 1;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  line-height: 2;
  opacity: 0;
  transition: opacity 1s ease-in;
  padding: 15px;
}

.active {
  animation: goUp 1s ease-in-out;
}

.rectangle {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 80svh;
  margin-top: 10px;
}

.rectOne, .rectTwo, .rectThree, .rectFour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 7px;
  height: 80%;
}

.circle {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: start;
  justify-self: center;
  margin-top: 60px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #d9d9d9;
}

.circleTwo {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  justify-self: center;
  margin-bottom: 50px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #d9d9d9;
}